html {
  height: 100vh;
  height: -webkit-fill-available; 
  height: fill-available;

  min-height: 100vh;
  min-height: -webkit-fill-available; 
  min-height: fill-available;

  height: 100vh;
  min-height: 100vh;


}
body {
  margin: 0;
  background: #06091F;
  overflow: hidden;
  height: inherit;
  min-height: inherit;
}

#__next {
  height: inherit;
  min-height: inherit;
}

.editor {
  padding: 16px 0;
  transition: all 0.25s ease-in-out;
}